* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

@mixin flexcol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  @include flexcol();
  height: 100vh;
  width: 100%;
  gap: 2rem;
  background-image: url(../stock/bg.jpg);
  background-position: center;
}

.avatar {
  background: #b4bfef;
  height: 10rem;
  width: 10rem;
  border: 0.19rem solid white;
  border-radius: 50%;
  background-image: url("https://avatars.githubusercontent.com/u/138669669?s=400&u=ce6949474fa553676b55a093c49dba17ecb2830e&v=4");
  background-position: -.5rem 0rem;
  background-size: 11rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.name {
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  font-family: "Silkscreen", sans-serif;
  color: white;
  text-align: center;
}
.name p{
    font-family: "roboto";
    font-size: .8rem;
}
.linktag{
    background: rgba(255, 255, 255, 0.395);
    border-radius: 5rem;
    color: rgb(230, 230, 230);
    width: 17rem;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    position: relative;

  
}
.linktag a{
  text-decoration: none;
}
.linkicon{
    height: 3rem;
    width: 3rem;
    background: rgb(13, 105, 167);
    border-radius: 50%;
    scale: .9;
    position: absolute;
    top: 0;
    left: 0;

    @include flexcol()
}
.linkicon i {
  font-size: 2rem;
  color: black;

}
.linkicon a{
  font-size: 2rem;
  color: black;


}
.linkname{
  width: 100%;
  height: 100%;
  @include flexcol();
  font-family: "roboto";

}

.name p{
  color: antiquewhite;
}

a{
  text-decoration: none;
}
